body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    height: 100%;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 5em;
}

.chatBox {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

input {
    background: #000;
    color: white;
    outline: 0; border: 1px solid #333;
    width: 100%;
    height: 32px;
    font-size: 22px;
    padding-left: 5px;
}

label {
    color: #555;
}

iframe {
    margin: 0 auto;
    display: block;
}